# Machine Learning
--extra-index-url https://download.pytorch.org/whl/cu128
torch>=2.7.0
lightning
pytorch_lightning
accelerate
sentencepiece
scikit-learn
torchmetrics
seqeval
datasets
tensorboard
evaluate

# Utils
pydantic
importlib-metadata

# Server
Flask
Flask-Classful

# Custom
chrisbase==0.5.8
